*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.side{
    background-color: lightgray;
    height: 54px;
    width: 100%;
}
 #links a {
     position: relative;
    color: black;
     margin-left: 18px;
     top: 10px;
     position: relative;
     text-decoration: none;
     
}
 #links a:hover{
          position: relative;
          color: green;
          width: 28px;
}
@media  screen and (max-width: 360px){
    .side{
        width: 50%;
    }
}
@media screen and(max-width :360px){
    .pf{
        width: 30%;
    }
}
