
*,html {
  margin: 0px;
  padding: 0px;
  display: flexbox;
}

.name {
        text-align: center;
        margin-top: 100px;
        background-color: white;
        font-size: large;
        line-height: 25px;
        box-sizing: border-box;
        box-shadow: white;
      }
.header {
  font-size: 30px;
  font-family: sans-serif, monospace;
}
.input-1, .input-2{
          border-radius: 3px;
          position: relative;
          box-sizing: border-box;
          margin-bottom: 5px;
          padding: 8px 15px;
          font-size: large;  
          font-weight: bold;
          cursor: pointer;            
}
#btn {
  width: 80px;
  padding: 3px;
  border-radius: 58px;
}

.fontpage {
  background-color: black;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.appname{
  color: white;
  border: 2px solid white;
  text-align: center;
  margin-top: 45px;
  width: auto;
  margin-bottom: 5px;
  border-left: black;
  border-right: black;
  padding-top: 25px 8px ;
  font-size: 34px;
  font-weight: bold;
  font-family: cursive;
}


