
@media screen and (max-width:480px)
{
    font-size: 18px;
}
*,html {
    margin: 0%;
    padding: 0%;
    color: black;
    list-style-type: none;
}
#my {
    color: whitesmoke;
    padding-top: 5%;
}

.sidebar{
    background-color: black;
    box-sizing: border-box;
    box-shadow: 10% white;
    width: 25%;
    height: 100vh;
}
.sidebarlinks ,ul ,li {
    position: relative;
    z-index: 1;
    line-height: 240%;
    padding-top: 5%;
}
#home {
    color: red;
    border: black;
}
.sidebarlinks ,a{
    text-decoration: none;
    color: white;
    position: relative;
    text-align: center;
    font-size: 160%;

}
a:hover{
    background-color: green;
    transition: .5s;
}
.image{
    padding-left: 49%;  
    margin-top: -170%;
}
#name {
    font-size: 350%;
}
#about {
    padding-top: 10%;
    font-size: 400%;
    color: black;
    padding-left: 27%;
    font-weight: bold;
}
#photo {
    padding-top: 2%;
    padding-right: -13%;
}
#par {
     padding-left: 27%;
     color: black;
}
