
 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#name {
    padding-top: 2%;
    color: red;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: sans-serif;
}
.containeer {
    background-color: #000;
    width: 35%;
    height: 100vh;
    box-shadow: 10% #ffffff;
    box-sizing: border-box;
    display: block;
}
#home {
    color: yellow;
}
 a {
    color: white;
    padding: 8%;
    text-decoration: none;
    list-style-type: none;
    line-height: 4;
    padding-top: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 128%;
    transition: .5s;
}
a:hover{
    
    background-color: red;
    border-radius: 5%;
    border-width: 8%;
    font-size: 28%;
    position: relative;
}
.background {
    float: right;
    position: static;
    margin-top: -72%;
    margin-right: auto;
}
.profile {
    float: right;
    position: static;
    margin-top: -173%;
    padding-right: 20px;
}
.name {
    width: 10%;
    height: 10%;
    background-color: red;
    animation-name: none;
    animation-duration: 4s;
}
 #text {
    color: white;
    transition: .5s;
    text-align: center;
    margin-top: -35%;
    padding-left: 160%;
    font-size: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
#text:hover{
    cursor: pointer;
    color: yellow;
    position: relative;
    font-size: 85%;
}
.about {
    color: white;
    padding-right: 45%;

}
