
.emoji{
    padding-left: 1em;
    position: absolute;
    
}
#s{
    font-size: 30px;
    font-weight: bold;
    padding-left: 3px;
    margin-bottom: -8em;

}
#name{
    padding-left: 4em;
    font-size: 18px;
    font-family: sans-serif;
}
.down{
    line-break: 2px;
     margin-left: 6em;

}
.image{
    position: absolute;
    margin-left: 55em;
    top: 4em;
    resize: none;
}
#first{
      width: auto;
      height: auto;
      box-sizing: border-box;
      background-color: beige;
}

#heading{
    font-family: sans-serif;
    font-weight: 20em;
    background-color: antiquewhite;
    box-sizing: border-box;
    cursor: pointer;
    
}
#second{
    box-sizing: border-box;
    flex-direction: column;
    background-color: beige;
}
